/target
/Cargo.lock
**/*.rs.bk
*.pdb
.DS_Store
*.swp
*.swo
*~
.vscode/
.idea/
tests/output/
dotnet-archived/src/CurlGenerator/bin
dotnet-archived/src/CurlGenerator/obj
dotnet-archived/src/CurlGenerator.Core/bin
